.weather{
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
  font-size: 1.3em;
  height: 100vh;
}
weather.h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}


.weather {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
}

.weather p {
    width: 33.3%;
    height: 100%;
    margin: 0;
}

.weather p i {
    font-size: 120%;
    margin-right: 3%;
}

weather.nav-divider {
    height: 58px;
}

@media (max-width: 767px) {
    .weather p i {
        width: 100%;
    }

    #reroro {
        font-size: 50%;
    }

    .nav-divider {
        height: 67px;
    }
}
